.cardStyle1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 70rem;
    min-width: 20rem;
    padding: 15px;
}

.pSize label {
    font-weight: bold;
}

.pSize label span {
    font-weight: 100;
}