.marginTop {
    margin-top: 200px;
}

.cardStyle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30rem !important;
    height: 30rem !important;
    border: none !important;
    border-radius: 0 !important;
}

.cardHeader {
    color: white;
    font-size: 23px;
    background-color: #003366 !important;
    /* border: none !important; */
    border-radius: 0 !important;
}

.cardBodyStyle {
    font-weight: 450 !important;
    /* font-size: 50px !important; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .cardStyle {
        width: auto;
    }
}