    /* body {
        margin: 0;
        font-family: "Lato", sans-serif;
    }
    

    
  
    /* @media screen and (max-width: 700px) {
        .sidebar {
            margin-top: -200px !important;
            width: 100% !important;
            height: auto !important;
            position: fixed !important;
        }
    
        .sidebar a {
            float: left;
        }
    }
    
    @media screen and (max-width: 400px) {
        .sidebar a {
            text-align: center;
            float: none;
        }
    }
    
    .newAdmin {
        margin-left: 350px;
        margin-top: 100px;
    }
    
    @media screen and (max-width: 767px) {
        .newAdmin {
            width: 90%;
          
            margin-left: auto;
            margin-right: auto
        }
    } */
    /* @media only screen and (min-width: 414px) and (max-width: 1024) {
    .adminNavdark {
        margin-top: 0px !important;

        position: fixed !important;

        z-index: 1;
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 414) {
    .adminNavdark {
        margin-top: -200px !important;
  
        position: fixed !important;

        z-index: 1;
        width: 100%;
    }
} */
    
    .secondaryNavBar {
        margin-top: 100px !important;
        position: fixed !important;
        z-index: 1;
        width: 100%;
    }
    
    #secondaryNavBar {
        /* border-top: 6px solid #F15025; */
        border-top: 6px solid#ffc299 !important;
        /* background-color: #242a33; */
        background-color: #662900;
        margin: 0 !important;
        padding-bottom: 10px !important;
        padding-top: 5px !important;
    }
    
    #secondaryNavBar .navbar-brand {
        display: block !important;
        background-color: #ffc299;
        padding: 5px 30px !important;
        font-style: italic;
        color: #f5f3f5;
        margin-left: 20px;
    }
    
    #secondaryNavBar .nav-link {
        color: white;
        font-size: 20px;
        padding: 10px 22px !important;
        margin: 0 10px !important;
        margin-top: 5px !important;
    }
    
    #secondaryNavBar .nav-link:hover {
        color: #f5f3f5;
        background-color: rgb(206, 77, 17);
        border-radius: 0px;
    }
    
    .content1 {
        margin-top: 200px !important;
        /* justify-content: center !important;
        justify-items: center !important;
        align-content: center !important; */
    }
    /* @media only screen and (min-width: 320px) and (max-width: 410) {
        #secondaryNavBar {
            margin-top: -11px !important;
        }
    } */
    
    @media screen and (max-width: 410px) {
        #secondaryNavBar {
            margin-top: -11px !important;
        }
    }
    
    @media screen and (width: 320px) {
        #secondaryNavBar {
            margin-top: -25px !important;
        }
    }
    
    @media screen and (width: 360px) {
        #secondaryNavBar {
            margin-top: -25px !important;
        }
    }